<%= form_for(@transportation, remote: true) do |f| %>
  <% if @transportation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@transportation.errors.count, "error") %> prohibited this transportation from being saved:</h2>

      <ul>
      <% @transportation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="row">
  <div class="col-xs-7 col-md-9 col-lg-10">
    <%= f.text_field :transportation, :class => 'input-shaptar', :placeholder => 'Ingresar Transporte' %>
  </div>
  <div class="col-xs-5 col-md-3 col-lg-2">
    <%= f.submit 'Guardar', :class => 'button-shaptar-green' %>
  </div>
</div>

<% end %>
