<div class="container">

  <div class="row flex-items-xs-center">
    <div class="col-xs-12 col-sm-9 col-md-8 col-lg-5">

      <div class="box-devise">

        <div class="row">
          <div class="col-xs-12">
            <%= image_tag "logo-macar.png", alt: "Macar" %>
          </div>
        </div>

        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= devise_error_messages! %>

        <div class="row">
          <div class="col-xs-12">
            <%= f.email_field :email, placeholder: "Correo Electr칩nico", :class => 'input-shaptar', autofocus: true %>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12">
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> Caracteres como minimo)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "off", placeholder: "Contrase침a", :class => 'input-shaptar' %>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12">
            <%= f.label :Confirmar_Contrase침a %><br />
            <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "Cntrase침a", :class => 'input-shaptar' %>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12">
            <%= f.submit "Registrarme", :class => 'button-shaptar-white' %>
          </div>
        </div>

        <% end %>

        <%= render "devise/shared/links" %>

      </div>

    </div>
  </div>

</div>
