
<br>

<h2>Cliente Guardado</h2>

<br>

<p>
  <strong>Customer code:</strong>
  <%= @customer.customer_code %>
</p>

<p>
  <strong>Nit:</strong>
  <%= @customer.nit %>
</p>

<p>
  <strong>Customer name:</strong>
  <%= @customer.customer_name %>
</p>

<p>
  <strong>Company name:</strong>
  <%= @customer.company_name %>
</p>

<p>
  <strong>Country:</strong>
  <%= @customer.country %>
</p>

<p>
  <strong>Department or state:</strong>
  <%= @customer.department_or_state %>
</p>

<p>
  <strong>Address:</strong>
  <%= @customer.address %>
</p>

<p>
  <strong>Telephone 1:</strong>
  <%= @customer.telephone_1 %>
</p>

<p>
  <strong>Telephone 2:</strong>
  <%= @customer.telephone_2 %>
</p>

<p>
  <strong>Mobile 1:</strong>
  <%= @customer.mobile_1 %>
</p>

<p>
  <strong>Mobile 2:</strong>
  <%= @customer.mobile_2 %>
</p>

<p>
  <strong>Email:</strong>
  <%= @customer.email %>
</p>

<p>
  <strong>Web page:</strong>
  <%= @customer.web_page %>
</p>

<p>
  <strong>Transportation:</strong>
  <%= @customer.transportation %>
</p>

<p>
  <strong>Credit in quetzales:</strong>
  <%= @customer.credit_in_quetzales %>
</p>

<p>
  <strong>Discount percentage:</strong>
  <%= @customer.discount_percentage %>
</p>

<p>
  <strong>Observations:</strong>
  <%= @customer.observations %>
</p>

<%= link_to 'Editar', edit_customer_path(@customer) %> |
<%= link_to "Volver a Clientes", {controller: "welcome", action: "clientes"} %>

<br><br>
