

<p>
  <strong>Fecha de Recibido:</strong>
  <%= @contact.created_at %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @contact.name %>
</p>

<p>
  <strong>Teléfono:</strong>
  <%= @contact.telephone %>
</p>

<p>
  <strong>Correo Electrónico:</strong>
  <%= @contact.email %>
</p>

<p>
  <strong>Mensaje:</strong><br>
  <%= @contact.message %>
</p>

<%= link_to 'Atras', contacts_path %>
