<%= form_for(@product) do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="row">
  <div class="col-xs-12 col-md-4">
    <%= f.collection_select :name_supplier, Supplier.all, :id, :supplier_name, :prompt => "Seleccionar Proveedor" %>
  </div>
  <div class="col-xs-12 col-md-4">
    <%= f.text_field :product_code, :class => 'input-shaptar', :placeholder => 'C贸digo Producto' %>
  </div>
  <div class="col-xs-12 col-md-4">
    <%= f.number_field :barcode, :class => 'input-shaptar', :placeholder => 'C贸digo de Barras' %>
  </div>

  <div class="col-xs-12">
    <%= f.text_field :product_name, :class => 'input-shaptar', :placeholder => 'Nombre del Producto' %>
  </div>

  <div class="col-xs-9 col-md-10 col-lg-11">
    <%= f.collection_select :name_brand, Brand.all, :brand, :brand, :prompt => "Seleccionar Marca" %>
  </div>
  <div class="col-xs-3 col-md-2 col-lg-1">
    <a href="/brands"><div class="button-shaptar-blue">+</div></a>
  </div>

  <div class="col-xs-9 col-md-10 col-lg-11">
    <%= f.collection_select :name_family, Family.all, :family, :family, :prompt => "Seleccionar Familia" %>
  </div>
  <div class="col-xs-3 col-md-2 col-lg-1">
      <a href="/families"><div class="button-shaptar-blue">+</div></a>
  </div>

  <div class="col-xs-12">
    <%= f.text_area :description, :class => 'textarea-shaptar', :placeholder => 'Descripci贸n' %>
  </div>

  <div class="col-xs-9 col-md-10 col-lg-11">
    <%= f.collection_select :name_location_in_warehouse, LocationInWarehouse.all, :location, :location, :prompt => "Ubicaci贸n en Bodega" %>
  </div>
  <div class="col-xs-3 col-md-2 col-lg-1">
    <a href="/location_in_warehouses"><div class="button-shaptar-blue">+</div></a>
  </div>

  <div class="col-xs-12">
    <%= f.label :Fecha_de_Compra %>
    <%= f.date_field :purchase_date, class: 'select-shaptar' %>
  </div>

  <div class="col-xs-12 col-lg-4">
    <%= f.text_field :cost_in_quetzales, :class => 'input-shaptar', :placeholder => 'Precio en Quetzales' %>
  </div>
  <div class="col-xs-12 col-lg-4">
    <%= f.text_field :sale_price, :class => 'input-shaptar', :placeholder => 'Precio de Venta' %>
  </div>
  <div class="col-xs-12 col-lg-4">
    <%= f.number_field :percentage_in_sale, :class => 'input-shaptar', :placeholder => 'Porcentaje en Descuento' %>
  </div>

  <div class="col-xs-12">
    <%= f.number_field :number_of_articles, :class => 'input-shaptar', :placeholder => 'Stock' %>
  </div>
</div>

<br>

<div class="row flex-items-xs-right">
  <div class="col-xs-12 col-lg-3">
    <%= f.submit 'Publicar Producto', :class => 'button-shaptar-green' %>
  </div>
</div>

<% end %>
