
<br>

<h2><%= @product.product_name %></h2>

<br>

<div class="row">
<div class="col-xs-12 col-sm-5">
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
  </ol>
  <div class="carousel-inner" role="listbox">
    <div class="carousel-item active">
      <%= image_tag @product.foto1.url(:medium) %>
    </div>
    <div class="carousel-item">
      <%= image_tag @product.foto2.url(:medium) %>
    </div>
    <div class="carousel-item">
      <%= image_tag @product.foto3.url(:medium) %>
    </div>
    <div class="carousel-item">
      <%= image_tag @product.foto4.url(:medium) %>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
</div>
</div>

<br>

<p>
  <strong>Product code:</strong>
  <%= @product.product_code %>
</p>

<p>
  <strong>Barcode:</strong>
  <%= @product.barcode %>
</p>

<p>
  <strong>Product name:</strong>
  <%= @product.product_name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Purchase date:</strong>
  <%= @product.purchase_date %>
</p>

<p>
  <strong>Cost in quetzales:</strong>
  <%= @product.cost_in_quetzales %>
</p>

<p>
  <strong>Sale price:</strong>
  <%= @product.sale_price %>
</p>

<p>
  <strong>Percentage in sale:</strong>
  <%= @product.percentage_in_sale %>
</p>

<p>
  <strong>Number of articles:</strong>
  <%= @product.number_of_articles %>
</p>

<p>
  <strong>Name supplier:</strong>
  <%= @product.name_supplier %>
</p>

<p>
  <strong>Name brand:</strong>
  <%= @product.name_brand %>
</p>

<p>
  <strong>Name family:</strong>
  <%= @product.name_family %>
</p>

<p>
  <strong>Name location in warehouse:</strong>
  <%= @product.name_location_in_warehouse %>
</p>

<%= link_to 'Editar', edit_product_path(@product) %> |
<%= link_to "Volver a Inventario", {controller: "welcome", action: "productos"} %>

<br><br>
