<p id="notice"><%= notice %></p>

<p>
  <strong>Supplier code:</strong>
  <%= @supplier.supplier_code %>
</p>

<p>
  <strong>Nit:</strong>
  <%= @supplier.nit %>
</p>

<p>
  <strong>Supplier name:</strong>
  <%= @supplier.supplier_name %>
</p>

<p>
  <strong>Company name:</strong>
  <%= @supplier.company_name %>
</p>

<p>
  <strong>Country:</strong>
  <%= @supplier.country %>
</p>

<p>
  <strong>Department or state:</strong>
  <%= @supplier.department_or_state %>
</p>

<p>
  <strong>Full address:</strong>
  <%= @supplier.full_address %>
</p>

<p>
  <strong>Telephone 1:</strong>
  <%= @supplier.telephone_1 %>
</p>

<p>
  <strong>Telephone 2:</strong>
  <%= @supplier.telephone_2 %>
</p>

<p>
  <strong>Mobile 1:</strong>
  <%= @supplier.mobile_1 %>
</p>

<p>
  <strong>Mobile 2:</strong>
  <%= @supplier.mobile_2 %>
</p>

<p>
  <strong>Email:</strong>
  <%= @supplier.email %>
</p>

<p>
  <strong>Web page:</strong>
  <%= @supplier.web_page %>
</p>

<p>
  <strong>Observations:</strong>
  <%= @supplier.observations %>
</p>

<%= link_to 'Edit', edit_supplier_path(@supplier) %> |
<%= link_to 'Back', suppliers_path %>
